.form-content{
    padding: 20vh 0;
    background-image: url(../resources/contactbackground.png);
    background-size: 25vh;
    background-repeat: repeat;
    filter: invert(var(--invert-icon));
    object-fit: cover;
}

.contact-body{
    background-color: var(--neutral-clr);
    margin: 5vh 5rem;
    display: flex;
    flex-direction: column;
    filter: invert(var(--invert-icon));
}

.contact-text-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-text-group>ul{
    display: flex;
    align-items: center;
    margin-left: 0;
}
.contact-text-group>ul>a:hover{
    -webkit-text-fill-color: var(--text-color);
}
.contact-text-group>ul>li{
    margin: 0 2rem;
    font-size: 3rem;
    background: -webkit-linear-gradient(45deg, var(--gradient-begin-clr), var(--gradient-end-clr));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    list-style-type: none;
}
.contact-text-group>ul>li:hover{
    -webkit-text-fill-color: var(--text-color);
}
.contact-title{
    font-size: 2rem;
    background: -webkit-linear-gradient(45deg, var(--gradient-begin-clr), var(--gradient-end-clr));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}

.contact-text-group > *{
    max-width: 60%;
}

form{
    display: flex;
    flex-direction: column;
    padding: 2rem 10%;
    width: 40%
}
input, textarea{
    padding: 0.5rem;
    border-image-source: linear-gradient(45deg, var(--gradient-begin-clr), var(--gradient-end-clr));
    border-width: 2.5pt;
    border-image-slice: 1;
    resize: none;
}

input[type="text"], textarea{
    background-color: var(--neutral-clr);
}

::placeholder{
    color: var(--text-color);
}

#email-mine{
    background: -webkit-linear-gradient(45deg, var(--gradient-begin-clr), var(--gradient-end-clr));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}

#email-mine:hover{
    -webkit-text-fill-color: var(--text-color);
}

#submit-button{
    letter-spacing: 0.125rem;
    box-shadow: none;
    font-size: 1rem;
    font-weight: 800;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0),
     rgba(255, 255, 255, 0)),
      linear-gradient(101deg, var(--gradient-begin-clr), var(--gradient-end-clr));
    background-origin: border-box;
    background-clip: content-box, border-box;
    color: white;
}

#submit-button:hover{ 
    color: var(--text-color);
    box-shadow: 2px 1000px 1px var(--background-color) inset;
}

@media(max-width:60rem){
    .contact-body{
        margin: 2rem 7%;
    }
    .contact-text-group > *{
        max-width: 80%;
    }
    form{
        max-width:80%;
        width: 80%;
        padding: 2rem 10%;
    }
    .contact-text-group>ul{
        display: flex;
        margin-left: 0;
    }

}

@media(min-width: 60rem){
    .contact-body{
        flex-direction: row;
        justify-content: space-around;
    }
    form{
        max-width: 40%;
    }

}